@page "/fetchdata"
@using Home.Services
@using Home.Services.ConstantValues
@inject HomeHeatingService HomeHeatingService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>


<table class="table">
    <thead>
        <tr>
            <th>Room</th>
            <th>Time</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var dataPoint in HomeHeatingService.DataPoints.Where(x=> DataPointIds.MonitoringPoints.Any(p => p == x.Id)))
    {
        <tr>
            <td>@dataPoint.Name</td>
            <td>@dataPoint.TimeStamp</td>
            <td>@(dataPoint.FormattedValue ?? @"unknown")</td>
        </tr>
    }
    </tbody>
    
    @* <button class="btn btn-primary" @onclick="SendValue">Click me</button> *@
    
</table>


@code {

    private void GetData()
    {

    }
    
    protected override void OnInitialized()
    {
        HomeHeatingService.AnyDataChanged = OnAnyDataChanged;
        
    }

    private void OnAnyDataChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    void SendValue()
    {
        //HomeHeatingService.WriteSingleValue("a");
    }
}
